img {
    width: 100%;
    object-fit: cover;
}
.clothesCard {
    margin-top: 40px;
    min-width: 150px;
    max-width: 300px;
    width: 30%;
}
.store {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.storeContainer {
    margin: 0 auto;
    width: 95%;
    margin-top: 40px;
}
.detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
