img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.categories-section {
    margin: 0 auto;
    margin-top: 20px;
    width: 95%;
}
h1 {
    text-align: center;
}
.categories {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.card {
    margin-top: 40px;
    border-radius: 20px;
    background-color: rgb(127, 161, 122);
    width: 20%;
    transition: transform 0.5s;
}
.card img {
    z-index: 0;
    opacity: 1;
    border-radius: 20px 20px 0 0;
}
.card p {
    height: 100%;
    font-family: cursive;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    color: navy;
}
.card:hover {
    transform: translateY(-30px);
}
